Arithmetic Operations in Python

In [1]:
print(2+3+9)

14

In [4]:
print(12*3.5)

42.0

In [9]:
print(100/9)

11.11111111111111

In [10]:
print(100//7) # Ignores all numbers after decimal

14

In [12]:
print(100 % 7) # Gives Remainder

2

In [13]:
print(2 ** 4) # Gives answer to the power of

16

## Problem 1

The population of a town is 198568. Out of them 45312 are men and 35678 are women. Find the number of children in the town.

In [46]:
population_of_town = 198568
population_of_men = 45312
population_of_women = 35678

total_adults = population_of_men + population_of_women

population_of_children = population_of_town - total_adults

print("Population of women in the town is: ", population_of_children)

Population of women in the town is:  117578

## Problem 2

A shopkeeper has 2425 boxes of 24 pencils each. How many pencils do all the boxes have in all?

In [15]:
total_boxes = 2425
pencils_per_box = 24

total_pencils = total_boxes * pencils_per_box

print("Total pencils in the box are: ", total_pencils)

Total pencils in the box are:  58200

## Problem 3

Linda bought a coat for $2265 and a saree for $2150. She gave $5000 to the shopkeeper. How much money did the shopkeeper return to her?

In [17]:
cost_of_coat = 2265
cost_of_saree = 2150
money_given_to_shopkeeper = 5000

total_cost_of_clothes = cost_of_coat + cost_of_saree
money_returned = money_given_to_shopkeeper - total_cost_of_clothes

print("The shopkeeper gave linda: $", money_returned)

The shopkeeper gave linda: $ 585

## Problem 4

The cost of 21 TV sets is $95844. Find the cost of one TV set

In [20]:
number_of_tv_sets = 21
total_cost = 95844

cost_of_one_set = total_cost / number_of_tv_sets

print("cost of 1 set is: $", cost_of_one_set)

cost of 1 set is: $ 4564.0

## Problem 5

A factory produces 24532 bulbs in a month. What is its annual production?

In [21]:
bulbs_produced = 24532

annual_production = bulbs_produced * 12

print("Annual production is: ", annual_production)

Annual production is:  294384

## Problem 6

There are 145968 bags of sugar, 236487 bags of wheat and some bags of rice in a godown. It the total number of bags in the godown is 450000, find the number of bags of rice.

In [22]:
bags_of_sugar = 145968
bags_of_wheat = 236487
total_bags = 450000

bags_of_sugar_and_wheat = bags_of_sugar + bags_of_wheat

bags_of_rice = total_bags - bags_of_sugar_and_wheat

print("Total bags of rice: ", bags_of_rice)

Total bags of rice:  67545

## Problem 7

A factory manufactured 483685 toys in three weeks. The production in first week was 146345 toys and in second week 138152 toys. Find the production in the third week.

In [23]:
toys_manufactured_in_3_weeks = 483685
first_week_production = 146345
second_week_production = 138152

first_and_second_week_production = first_week_production + second_week_production

third_week_production = toys_manufactured_in_3_weeks - first_and_second_week_production

print("Toys manufactured in third week: ", third_week_production)

Toys manufactured in third week:  199188

## Problem 8

The cost of a sofa set is $9372. How much will 124 such sofa sets cost?

In [44]:
cost_of_one_sofa_set = 9372

cost_of_124_sofa_set = cost_of_one_sofa_set * 124

print("Cost of 24 sofa set is: ", cost_of_124_sofa_set)

Cost of 24 sofa set is:  1162128

## Problem 9

There are 86 rooms in a school. 4386 students study there. Equal number of students sits in each room?

In [29]:
number_of_rooms = 86
number_of_students = 4386

students_in_each_room = number_of_students // number_of_rooms

print("Number of students studying in each room is: ", students_in_each_room)

Number of students studying in each room is:  51

## Problem 10

1575 students of a school want to go Agra by bus. If one bus can carry 75 students, how many buses are required to carry all the students?

In [33]:
total_students = 1575
students_per_bus = 75

total_busses_required = total_students // students_per_bus

print("Total number of busses required will be: ", total_busses_required)

Total number of busses required will be:  21

## Problem 11

The cost of a radio set is 1475. What is the cost of 35 such radio sets?

In [41]:
cost_of_radio_set = 1475

cost_of_35_radio = cost_of_radio_set * 35

print("Cost of 35 Radio sets will be: ", cost_of_35_radio)

Cost of 35 Radio sets will be:  51625

## Problem 12

n an election, 52496 people voted for Ron, 44929 people for Jhon and 36824 people for Mike in a town. If everyone voted in the town, what is the total number of voters?

In [37]:
ron_votes = 52496
john_votes = 44929
mike_votes = 36824

total_voters = ron_votes + john_votes + mike_votes

print("Total number of voters in town are: ", total_voters)

Total number of voters in town are:  134249

## Problem 13

Maria bought 96 toys priced equally for $12960. The amount of $1015 is still left with her. Find the cost of each toy and the amount she had

In [40]:
toys_bought = 96
total_price = 12960
amount_left = 1015

cost_of_each_toy = total_price / 96
amount_initial = total_price + amount_left

print("Cost of each toy is: ", cost_of_each_toy)
print("She initially had: ", amount_initial)

Cost of each toy is:  135.0
She initially had:  13975